<!-- Dateipfad: src/InfraDesk.UI.Web/Components/App.razor -->
<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="InfraDesk.UI.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    
    <!-- MudBlazor Fonts & CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    
    <!-- MudBlazor JS Scripts -->
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>